techUsed.txt

# Ignore dependencies
node_modules/

# Ignore environment variables
**/.env

# Ignore build files
/frontend/build
/frontend/.parcel-cache
/dist
/out

# Logs
**/logs
*.log

# Ignore VS Code settings & OS-specific files
.vscode/
.DS_Store
*.swp